# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

.github
.tmp

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

/backend/dist